# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app
vendor/libs/.DS_Store
vendor/libs/common/.DS_Store
vendor/libs/driver/.DS_Store
iOS/.DS_Store
include/.DS_Store
.DS_Store
iOS/transmit.xcodeproj/xcuserdata/zhiou.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
iOS/transmit.xcodeproj/xcuserdata/zhiou.xcuserdatad/xcschemes/xcschememanagement.plist
iOS/transmit.xcodeproj/xcuserdata/zhouhuang.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
iOS/transmit.xcodeproj/xcuserdata/zhouhuang.xcuserdatad/xcschemes/xcschememanagement.plist
iOS/transmit.xcodeproj/project.xcworkspace/xcuserdata/zhouhuang.xcuserdatad/UserInterfaceState.xcuserstate
iOS/transmit.xcodeproj/project.xcworkspace/xcuserdata/zhiou.xcuserdatad/UserInterfaceState.xcuserstate
iOS/fastlane/report.xml
iOS/fastlane/test_output/report.html
iOS/fastlane/test_output/report.junit
iOS/Wallet.xcodeproj/project.xcworkspace/xcuserdata/zhiou.xcuserdatad/UserInterfaceState.xcuserstate
iOS/Wallet.xcodeproj/project.xcworkspace/xcuserdata/zhiou.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
iOS/Wallet.xcodeproj/xcuserdata/zhiou.xcuserdatad/xcschemes/xcschememanagement.plist
